html, body, ul, li, h1, button, input {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

input,
button {
    background: none;
    border: 0;
}

.b-main {
    padding: 20px;
    margin: 0;
    font: 14px/18px monospace;
    background: #1b2426;
    color: #b9bdb6;
}

.b-header {
    font-size: 15px;
    font-weight: normal;
    margin: 4px 0 20px 0;
    color: #ffaa3e;
}

.b-header__pre {
    padding: 0;
    margin: 0;
}

.b-list {
    padding: 0 0 18px 32px;
    line-height: 18px;
    counter-reset: list;
}

.b-tasks > .b-list {
    padding-left: 35px;
}

.b-list-item {

}

.b-list-item:before {
    counter-increment: list;
    content: counter(list) '.';
    color: #5ba1cf;
    font-size: 11px;
    display: inline-block;
    width: 30px;
    float: left;
    text-align: right;
    margin-left: -35px;
}

.b-list-item__wrapper {
    display: block;
    line-height: 18px;
}

.b-list-item__text {
    display: block;
    width: 100%;
    height: 18px;
    padding: 1px 0;
    overflow: hidden;
    font: 15px/16px monospace;
    color: #b9bdb6;
}

.b-list-item__text:active,
.b-list-item__text:focus {
    outline: none;
}


/* todo: fix selection color */
.b-list-item__text::selection {
    background: green;
    color: #fff;
}

.b-list-item__text::-webkit-selection {
    background: green;
    color: #fff;
}

.b-list-item_selected > .b-list-item__wrapper {
    background: #323e41;
}

.b-list-item__checked + .b-list-item__text {
    color: rgba(255,255,255,.4);
    text-decoration: line-through;
}
