html, body, ul, li, h1, button, input {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

button {
    background: none;
    border: 0;
}

.b-main {
    padding: 20px;
    margin: 0;
    font: 14px/18px monospace;
    background: #1b2426;
    color: #b9bdb6;
}

.b-header {
    font-size: 15px;
    font-weight: normal;
    margin: 4px 0 20px 0;
    color: #ffaa3e;
}

.b-header__pre {
    padding: 0;
    margin: 0;
}

.b-list {
    padding: 0 0 18px 32px;
    line-height: 18px;
    /*overflow: hidden;*/
    /*clear: both;*/
    counter-reset: list;
}

.b-tasks > .b-list {
    padding-left: 0;
}

.b-list-item {
    /*overflow: hidden;*/
}

.b-list-item:before {
    counter-increment: list;
    content: counter(list) '.';
    color: #5ba1cf;
    font-size: 11px;
    display: inline-block;
    width: 30px;
    float: left;
    text-align: right;
    padding-right: 5px;
}

.b-list-item__wrapper {
    display: block;
    line-height: 18px;
    padding-right: 70px;
}

/*.b-list-item__checkbox {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*vertical-align: baseline;*/
    /*margin: 0 -3px 0 5px;*/
/*}*/

.b-list-item__text {
    display: inline-block;
    vertical-align: baseline;
    height: 16px;
    line-height: 16px;
    font-size: 15px;
    padding: 1px 11px 1px 6px;
    overflow: hidden;
}


/*.b-list-item__add {*/
    /*display: inline-block;*/
    /*visibility: hidden;*/
    /*padding: 0 7px;*/
    /*border-radius: 4px;*/
    /*line-height: 20px;*/
    /*height: 20px;*/
    /*overflow: hidden;*/
    /*text-align: center;*/
    /*font-size: 12px;*/
    /*position: relative;*/
    /*top: -1px;*/
    /*cursor: pointer;*/
    /*vertical-align: baseline;*/
    /*background: rgba(255,255,255,.2);*/
    /*color: #fff;*/
    /*white-space: nowrap;*/
    /*-webkit-transition: background 0.15s;*/
       /*-moz-transition: background 0.15s;*/
            /*transition: background 0.15s;*/
/*}*/

/*.b-list-item__wrapper:hover .b-list-item__add {*/
    /*visibility: visible;*/
/*}*/

/*.b-list-item__text:hover + .b-list-item__add {*/
    /*visibility: visible;*/
/*}*/

/*.b-list-item__add:active {*/
    /*background: rgba(255,255,255,.4);*/
    /*color: #fff;*/
/*}*/

/*.b-list-item__checkbox:checked + .b-list-item__text + .b-list-item__add {*/
    /*visibility: hidden;*/
/*}*/

/*.b-list-item_selected,*/
/*.b-list-item__wrapper:hover {*/
    /*background: #323e41;*/
/*}*/



.b-list-item__text:active,
.b-list-item__text:focus {
    outline: none;
}


.b-list-item__text::selection {
    /*background: #323e41;*/
    /*background: red;*/
    background: #54696E;
    color: #fff;
}

/*.b-list-item__text:active,*/
/*.b-list-item__text:focus {*/
    /*outline: none;*/
    /*border: 1px solid rgba(255,255,255,.4);*/
    /*border-radius: 3px;*/
    /*box-shadow: 0 0 2px 1px rgba(255,255,255,.2);*/
    /*padding: 1px 10px 1px 5px;*/
    /*margin: -1px 0;*/
/*}*/


.b-list-item_selected > .b-list-item__wrapper {
    background: #323e41;
}

.b-list-item__checked + .b-list-item__text {
    color: rgba(255,255,255,.4);
    text-decoration: line-through;
}



/*.b-list-item:before {*/
    /*content: '';*/
/*}*/


/*.b-list-item_checked {*/
    /*font-size: 11px;*/
    /*color: #888;*/
/*}*/

/*.b-list-item__add:hover,*/
/*.b-list-item__wrapper:hover + .b-list-item__add {*/
    /*display: block;*/
/*}*/

/*.b-list-item_hover > .b-list-item__add {*/
    /*display: block;*/
/*}*/

/*.b-list-item_checked .b-list-item__add {*/
    /*display: none !important;*/
/*}*/


